:root{
  --theme-orange-color:#E97815;
  --theme-red-color: #CB383C;
  --theme-color: #CB383C;
  --red-content-color: #D23D41;
  --theme-bg-color: #1C232C;
  --theme-content-color: #29313C;
  --text-color: #B8B4B4;
  --heading-color: #f7f7f7;
}

